includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-php-parser/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    # TODO: Remove when all the existing errors have been fixed (https://gitlab.com/Serenata/Serenata/issues/277).
    - phpstan-baseline.neon

parameters:
    stubFiles:
        - stubs/Deferred.stub

    ignoreErrors:
        # We can fix these, but they aren't our problem to fix and it's never called directly. We just want to just be
        # able to use inheritDoc here.
        - '#Method [A-Za-z\\_]+::jsonSerialize\(\) return type has no value type specified in iterable type array.#'
        - '#Method [A-Za-z\\_]+::getSubNodeNames\(\) return type has no value type specified in iterable type array.#'
        #- '#return type has no value type specified in iterable type Symfony\\Component\\Process\\Process.#'

        -
            message: '#Variable property access on#'
            path: 'src/Analysis/Visiting/ScopeLimitingVisitor.php'
