<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    bootstrap="src/Bootstrap.php"
    colors="true"
    verbose="true"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
>
    <testsuites>
        <testsuite name="Serenata Unit Test Suite">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Serenata Integration Test Suite">
            <directory suffix="Test.php">./tests/Integration</directory>
        </testsuite>
        <testsuite name="Serenata Performance Test Suite">
            <directory suffix="Test.php">./tests/Performance</directory>
        </testsuite>
    </testsuites>
    <groups>
        <exclude>
            <group>Performance</group>
        </exclude>
    </groups>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <file>src/Main.php</file>
        </exclude>
    </coverage>
</phpunit>
